/* FLEX */
.flex {
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
}
.flex__item {
	flex-basis: 200px;
	flex-grow: 1;
	flex-shrink: 1;
}

.flex__item:nth-child(6n + 3),
.flex__item:nth-child(6n + 4) {
	flex-basis: 360px;
	background-color: #7a956b;
}

/* Обмеження розміру */
@media (min-width: 840px) {
	.flex__item {
		max-width: 200px;
	}
	.flex__item:nth-child(6n + 3),
	.flex__item:nth-child(6n + 4) {
		max-width: 360px;
	}
}

/* GRID */
.grid {
	display: grid;
	gap: 20px;
	grid-template-columns: repeat(15, 1fr);
}
.grid__item {
	grid-column: span 4;
}

.grid__item:nth-child(6n + 3),
.grid__item:nth-child(6n + 4) {
	grid-column: span 7;
	background-color: #7a956b;
}

@media (max-width: 700px) {
	.grid {
		grid-template-columns: repeat(14, 1fr);
	}
	.grid__item {
		grid-column: span 7;
	}
	.grid__item:nth-child(6n + 3),
	.grid__item:nth-child(6n + 4) {
		grid-column: span 14;
	}
}
@media (max-width: 650px) {
	.grid {
		grid-template-columns: repeat(2, 1fr);
	}
	.grid__item,
	.grid__item:nth-child(6n + 3),
	.grid__item:nth-child(6n + 4) {
		grid-column: auto;
	}
}
@media (max-width: 450px) {
	.grid {
		grid-template-columns: auto;
	}
}
